@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  --dark-blue: #0a192f;
  --middle-blue: #112240;
  --light-blue: hsl(216, 60%, 20%);
  --shader: hsl(218, 58%, 16%, 90%);
  --primary-offwhite: #ced6f6;
  --secondary-offwhite: #8a92af;
  --pink-accent: #ff326d;
  --blue-accent: #64ffda;
  /* Transition speeds */
  --snail: 1000ms;
  --slow: 750ms;
  --medium: 500ms;
  --fast: 250ms;
  --turbo: 150ms;
  /* Item heights */
  --desktop-nav-bar: 4rem;
  --desktop-nav-bar-negative: -4rem;
  --mobile-nav-bar: 3rem;
  --mobile-nav-bar-negative: -3rem;
  /* Gaps */
  --little-gap: 1rem;
  --medium-gap: 2rem;
  --big-gap: 3rem;
  --jumbo-gap: 6rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--dark-blue);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

body .scroll-disabled {
  height: calc(100% + env(safe-area-inset-top));
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 3rem;
}

.drop-shadow {
  -webkit-box-shadow: 0px 1.4px 24.9px rgba(0, 0, 0, 0.011), 0px 3.3px 28.4px rgba(0, 0, 0, 0.016), 0px 6.1px 29.4px rgba(0, 0, 0, 0.02), 0px 10.9px 31.1px rgba(0, 0, 0, 0.024), 0px 20.5px 37.5px rgba(0, 0, 0, 0.029), 0px 49px 80px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 1.4px 24.9px rgba(0, 0, 0, 0.011), 0px 3.3px 28.4px rgba(0, 0, 0, 0.016), 0px 6.1px 29.4px rgba(0, 0, 0, 0.02), 0px 10.9px 31.1px rgba(0, 0, 0, 0.024), 0px 20.5px 37.5px rgba(0, 0, 0, 0.029), 0px 49px 80px rgba(0, 0, 0, 0.04);
}

/* Navigation styling */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  font-weight: 700;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem 3rem;
  height: var(--desktop-nav-bar);
  width: 100vw;
  background-color: var(--middle-blue);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  z-index: 9999;
}

.nav .shrunk {
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--big-gap);
  list-style-type: none;
}

.nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul a {
  cursor: pointer;
  font-size: 1rem;
  color: var(--secondary-offwhite);
  -webkit-transition: color 150ms;
  transition: color 150ms;
  text-decoration: none;
}

.nav ul a .selected, .nav ul a:hover {
  color: white;
}

.nav-expander-container {
  display: none;
}

/* Global section styling */
section {
  height: calc(100vh - env(safe-area-inset-bottom));
}

/* Home styling */
.home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--big-gap);
  overflow: hidden;
}

.home a {
  left: 3rem;
  bottom: 6rem;
  padding: 1rem;
  border: 1px solid var(--pink-accent);
  color: var(--primary-offwhite);
  font-weight: 700;
  text-decoration: none;
}

.home-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--medium-gap);
}

.home-left p {
  color: var(--secondary-offwhite);
}

.home-left-top h1 {
  font-size: 5rem;
  color: var(--primary-offwhite);
}

.home-left-top h2 {
  font-size: 2.6rem;
  color: var(--secondary-offwhite);
}

/* Project section styling */
.projects {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: var(--desktop-nav-bar);
  margin-top: var(--desktop-nav-bar-negative);
  gap: var(--jumbo-gap);
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--primary-offwhite);
  gap: var(--little-gap);
  margin-right: 2rem;
}

.line {
  height: 2px;
  background-color: var(--middle-blue);
}

.project {
  position: relative;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-text-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--little-gap);
  width: 55%;
}

.project-text-container.right {
  right: 0;
}

.project-text-container.left {
  left: 0;
}

.project-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.project-title-container.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.project-title-container img {
  height: 1.8rem;
}

.project-title {
  font-size: 1.8rem;
  color: var(--primary-offwhite);
}

.project-title.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.project-description {
  padding: 1.5rem;
  background-color: var(--middle-blue);
  color: var(--primary-offwhite);
  border-radius: 10px;
}

.project-description.right {
  text-align: right;
}

.project-text-container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--little-gap);
  z-index: 3;
}

.project-text-container-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--little-gap);
  max-width: 80%;
  font-size: 0.8rem;
  list-style: none;
  color: var(--secondary-offwhite);
  overflow: scroll;
}

.project-text-container-bottom ul.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--little-gap);
}

.project-text-container-bottom ul .project-link {
  color: var(--blue-accent);
  cursor: pointer;
  border-bottom: 1px solid;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  font-size: 1rem;
}

.project-text-container-bottom ul .project-link.media-link {
  display: none;
}

.project-text-container-bottom ul .project-link:hover {
  border-bottom: 1px solid var(--pink-accent);
}

.project-text-container-bottom ul.right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project-text-container-bottom ul li {
  white-space: nowrap;
}

.project-text-container-bottom.right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.project-screenshot-container {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--little-gap);
  background-color: var(--light-blue);
  height: 100%;
  width: 50%;
  padding: 2rem;
  overflow: scroll;
  border-radius: 10px;
}

.project-screenshot-container.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--shader);
  height: 100vh;
  position: fixed;
  width: 100vw;
  border-radius: 0px;
  z-index: 10000;
}

.project-screenshot-container.open .screenshot {
  opacity: 1;
  height: 80%;
}

.project-screenshot-container.left {
  right: 0;
}

.project-screenshot-container.right {
  left: 0;
}

.project-screenshot-container img {
  border-radius: 10px;
  height: 100%;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  opacity: 0.8;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
  cursor: pointer;
}

.project-screenshot-container img:hover {
  opacity: 1;
}

/* Footer */
footer {
  height: 20vh;
}

/* Miscellaneous */
/* Hide scrollbar for Chrome, Safari and Opera */
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.horizontal-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.layered-text {
  position: relative;
  height: 100%;
  width: 100%;
}

.front-layer {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--blue-accent);
}

.back-layer {
  position: absolute;
  left: 0.1rem;
  top: -0.1rem;
  color: var(--pink-accent);
}

/* Mobile specific */
@media (max-width: 580px) {
  .container {
    padding: 0;
  }
  .nav {
    height: var(--mobile-nav-bar);
    background-color: var(--dark-blue);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(60vh + env(safe-area-inset-top));
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    background-color: var(--middle-blue);
    -webkit-transition: 250ms ease-in-out;
    transition: 250ms ease-in-out;
  }
  .nav ul a {
    font-size: 1.3rem;
  }
  .nav ul.mobile-hidden {
    -webkit-transform: translateY(calc(-60vh - env(safe-area-inset-top)));
            transform: translateY(calc(-60vh - env(safe-area-inset-top)));
  }
  .nav-expander-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px;
    height: 30px;
    z-index: 10000;
  }
  .nav-expander-container svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: 250ms ease;
    transition: 250ms ease;
  }
  .nav-expander-container svg.expanded {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .home-left-top h1 {
    font-size: 36px;
  }
  .home-left-top h2 {
    font-size: 28px;
  }
  section {
    padding: 2rem;
  }
  .section-header {
    padding-left: 2rem;
  }
  .projects {
    padding-top: var(--mobile-nav-bar);
    margin-top: var(--mobile-nav-bar-negative);
    gap: var(--little-gap);
  }
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
  }
  .project-title-container.right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project-title {
    font-size: 1.4rem;
  }
  .project-title .right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
  .project-screenshot-container {
    display: none;
  }
  .project-text-container {
    position: relative;
    width: 100%;
  }
  .project-text-container .right {
    right: auto;
    left: auto;
  }
  .project-description {
    width: 100%;
    height: 100%;
  }
  .project-description.right {
    text-align: left;
  }
  .project-text-container-bottom ul .project-link.media-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project-text-container-bottom ul .right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .project-text-container-bottom.right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=styles.css.map */